mixin modalAdd(props)
    .section&attributes(attributes).modal.modal__effect_hide
        .modal__inner
            textarea(placeholder="Введите текст задачи").modal__input
            .modal__button-area
                .button.button__close Закрыть
                .button.button__add Добавить
