extends ../../app/pug/layout
include ../../components/todoItem/todoItem
include ../../components/fab/fab

block title
    | Todo list

block content
    main(data-barba="container" data-barba-namespace="index").main
        +todoItem
        +fab